---
// Component Imports
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'
import Banner from '../components/Banner/index.astro'
import Project from '../components/Projects/index.astro'
import { projects } from '../projects_data'
import Footer from '../components/Footer.astro'
import TierList from '../components/Skills/TierList.astro'
---

<html lang='en'>
  <head>
    <MainHead
      title='Dhruv Bakshi: Portfolio'
      description='Dhruv Bakshi: Frontend Web Developer'
    />
  </head>
  <body class='overflow-x-hidden'>
    <div class='wrapper min-h-screen flex flex-col md:gap-5'>
      <Nav />
      <Banner />
    </div>
    <div
      class='text-3xl font-amatic text-center bg-black/40 rounded-xl shadow-xl shadow-black text-white py-40 my-40 w-full md:w-4/5 mx-auto'
    >
      SKILLS BELOW 👇
    </div>
    <TierList />
    <div
      class='text-3xl font-amatic text-center bg-black/40 rounded-xl shadow-xl shadow-black text-white py-40 my-40 w-full md:w-4/5 mx-auto'
    >
      PROJECTS BELOW 👇
    </div>

    <div class='wrapper'>
      <div class='flex flex-col gap-16 md:gap-52'>
        {
          projects.map((item, idx) => (
            <Project
              index={idx}
              heading={item.heading}
              image={item.image}
              mimage={item.mimage}
              description={item.description}
            />
          ))
        }
      </div>
    </div>
    <div
      class='text-3xl font-amatic text-center bg-black/40 rounded-xl shadow-xl shadow-black text-white py-40 my-40 w-full md:w-4/5 mx-auto'
    >
      WORK EXPERIENCE TIMELINE BELOW 👇
    </div>
    <div class='wrapper'>
      <div class='flex justify-between'>
        <h2
          class='font-bungee w-1/2 text-center text-5xl md:text-7xl text-lime-200'
        >
          2023
        </h2>
        <div class='w-1/2'>
          <div class='flex items-center gap-5'>
            <img
              src='/assets/companies/ys.jpeg'
              class='rounded-full h-16 aspect-square shadow-2xl'
            />
            <div>
              <h4
                class='text-yellow-200 font-montserrat font-semibold text-3xl'
              >
                Yellow Sapphire Technologies
              </h4>
              <h6 class='text-lime-300 font-montserrat font-normal text-md'>
                May - Present
              </h6>
            </div>
          </div>
					<h5 class="font-montserrat font-semibold text-xl text-lime-100 my-3">Frontend Developer</h5>
          <p class='font-montserrat text-xl text-lime-50'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, reprehenderit laudantium porro quos cumque labore corporis itaque nihil alias libero deserunt molestiae magni. Ducimus eveniet enim harum perferendis sequi velit!</p>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
